.circle-icon {
    background: Gainsboro;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
}

.circle-icon-sm {
    background: Gainsboro;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
}

.process-flow {
    min-height: 20vh;
    /* display: flex; */
    flex-direction: row;
    /* justify-content: space-between; */
}

.step-line {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    flex-direction: row;
}


.step-text {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.sl-title {
    font-family: "Nunito_Bold";
}

.sl-letter-botton {
    margin: 10px;
    width: 30%;
}

.input-prepend-ext {
    width: '30%';
}